---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#sidebar {
  .profile-wrapper {
    #avatar {
      margin-left: 7rem;

      a {
        width: 8rem;
        height: 8rem;
      }
    }
    .site-title {
      margin-left: 1.7rem;
      margin-top: 1rem;

      a {
        font-size: 2rem;
      }
    }
    .site-subtitle {
      margin-left: 1.7rem;
    }
  }
}

#post-list {
  .post-preview {
    padding: .7rem;

    .post-img-cnt{
      float:top;
      padding:10px 10px 0px 10px;
    }

    .post-img{
      max-width: 100%;
    }

    h1{
      margin-top: .7rem;
      margin-left: .6rem;
      margin-right: .6rem;
    }

    .post-content{
      margin-left: .6rem;
      margin-right: .6rem;
    }

    .post-meta{
      margin-left: .6rem;
      margin-right: .6rem;
      margin-bottom: .7rem;
    }
  } // .post-preview
} // #post-list